<script type="text/javascript">
  var x = document.getElementById("log");
  x.className = "active-link";

  var stitle = document.getElementById("subtitle");
  stitle.innerHTML = "통합관리시스템 접근 로그";

  var btn = '<button class="reload" style="margin-left:10px; margin-top:-5px;" ' +
    'onclick="reload()">' +
    '<i class="fas fa-redo"></i></button>';
  $('#reloadBtn').append(btn);
</script>

<table class="type09" id="log_table">
  <thead>
    <tr>
      <th scope="cols" style="width:200px;">
        <!-- <button type="button" id="datepicker">날짜</button> -->
        <input type="input" id="datepicker" class="datepicker" />
      </th>
      <th scope="cols" style="width:150px;">사용자</th>
      <th scope="cols" style="width:150px;">경로</th>
      <th scope="cols" style="width:150px;">타입</th>
      <th scope="cols" style="width:200px;">ip</th>
      <th scope="cols" style="width:400px;">내용</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="text-center">
  <ul class="pagination" id="log_page">
  </ul>
</div>

<!-- Dynamic Table Creater from log file -->
<script type="text/javascript">
  var log = <%- JSON.stringify(logs) %>
  initializeTable(log);

  function initializeTable(logData) {
    for (i = 0; i < logData.length - 1; i++) {
      // console.log(logData[i]);
      var logArray = logData[i].split(',');
      if (i % 2 == 0) {
        $('#log_table').append(
          $('<tr>').append(
            $('<td>').append(logData[i].substr(0, 10) + "  " + logData[i].substr(11, 5) + ":" + logData[i].substr(17, 2)),
            $('<td>').append(logArray[3]),
            $('<td>').append('/' + logArray[1]),
            $('<td>').append(logArray[2]),
            $('<td>').append(logArray[4].substr(7, logArray[4].length - 1)),
            $('<td>').append(logArray[5]),
          )
        )
      } else {
        $('#log_table').append(
          $('<tr>').append(
            $('<td bgcolor="#f3f6f7">').append(logData[i].substr(0, 10) + "  " + logData[i].substr(11, 5) + ":" + logData[i].substr(17, 2)),
            $('<td bgcolor="#f3f6f7">').append(logArray[3]),
            $('<td bgcolor="#f3f6f7">').append('/' + logArray[1]),
            $('<td bgcolor="#f3f6f7">').append(logArray[2]),
            $('<td bgcolor="#f3f6f7">').append(logArray[4].substr(7, logArray[4].length - 1)),
            $('<td bgcolor="#f3f6f7">').append(logArray[5]),
          )
        )
      }
    }
    pagination(logData.length - 1);
  }

  function pagination(row) {
    var req_num_row = 15;
    var $tr = jQuery('tbody tr');
    // var total_num_row = $tr.length;
    var total_num_row = row;
    var num_pages = 0;
    if (total_num_row % req_num_row == 0) {
      num_pages = total_num_row / req_num_row;
    } else {
      num_pages = total_num_row / req_num_row;
      num_pages++;
      num_pages = Math.floor(num_pages);
    }

    for (var i = 1; i <= num_pages; i++) {
      jQuery('.pagination').append("<li><a>" + i + "</a></li>");
      // jQuery('.pagination li:nth-child(2)').addClass("active");
      jQuery('.pagination li:nth-child(2)');
      jQuery('.pagination a').addClass("pagination-link");
    }

    $tr.each(function(i) {
      jQuery(this).hide();
      if (i + 1 <= req_num_row) {
        $tr.eq(i).show();
      }
    });

    jQuery('.pagination a').click('.pagination-link', function(e) {
      e.preventDefault();
      $tr.hide();
      var page = jQuery(this).text();
      var temp = page - 1;
      var start = temp * req_num_row;
      var current_link = temp;

      jQuery('.pagination li').removeClass("active");
      jQuery(this).parent().addClass("active");

      for (var i = 0; i < req_num_row; i++) {
        $tr.eq(start + i).show();
      }
    });

    jQuery('.pagination li').first().addClass("active");
  }

  // jQuery('document').ready(function() {
  //    pagination();
  //    jQuery('.pagination li:first-child').addClass("disabled");
  // });
</script>

<script type="text/javascript">
  $("#datepicker").datepicker({
    dateFormat: 'yy-mm-dd', //Input Display Format 변경
    showOn: "button",
    buttonText: "날짜",
    onSelect: function(dateText, inst) {
      $.ajax({
        url: '/log',
        datatype: 'json',
        type: 'POST',
        data: {
          data: dateText
        },
        success: function(result) {
          $('#log_table > tbody:last').empty();
          $('#log_page').empty();
          // console.log(result);
          initializeTable(result.result);
        },
        error: function() {
          Swal.fire({
            type: 'error',
            title: '해당 날짜에 로그가 없습니다',
            // text: '해당 날짜에 로그가 없습니다',
            width: '450px',
            // footer: '<a href>Why do I have this issue?</a>'
          });
        }
      });
    }
  });
</script>

<script>
  function reload() {
    location.reload();
  }
</script>
