<script type="text/javascript">
    var stitle = document.getElementById("subtitle");
    stitle.innerHTML = "로그인";
</script>

<!-- 로그인 form 작성 -->
<!-- <div class="sub-main-w3"> -->
<div>
    <form name="login_form" action="/login" method="post">
        <div class="pom-agile">
            <span class="fa fa-user" aria-hidden="true" style="margin-top:8px;"></span>
            <input placeholder="아이디" name="id" class="user" type="text" required="" style="margin-left:10px;">
        </div>
        <div class="pom-agile">
            <span class="fa fa-key" aria-hidden="true" style="margin-top:8px;"></span>
            <input placeholder="패스워드" name="pw" class="pass" type="password" required="" style="margin-left:10px;">
        </div>

        <div class="sub-w3l">
            <div class="sub-agile">
                <input type="checkbox" id="idSaveCheck">
                <label for="idSaveCheck">
                    <span style="margin-top:7px;"></span>아이디 기억하기
                </label>
            </div>
            <div class="clear"></div>
        </div>
        <br>
        <div class="right-w3l">
            <input type="submit" value="로그인">
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        // 저장된 쿠키값을 가져와 ID칸에 넣어준다. 없으면 공백
        var userInputId = getCookie("userInputId");
        // console.log("get cookie: " + userInputId);
        $("input[name='id']").val(userInputId);
        // ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면
        if ($("input[name='id']").val() != "") {
            $("#idSaveCheck").attr("checked", true); // ID 저장하기를 체크 상태로 둔다.
        }

        // 체크박스에 변화가 있다면,
        $("#idSaveCheck").change(function () {
            if ($("#idSaveCheck").is(":checked")) { // ID 저장하기 체크했을 때
                var userInputId = $("input[name='id']").val();
                setCookie("userInputId", userInputId, 7); // 7일동안 쿠키 보관
                // console.log("set cookie: " + userInputId);
            } else { // ID 저장하기 체크 해제 시,
                deleteCookie("userInputId");
            }
        });

        // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장
        $("input[name='id']").keyup(function () { // ID 입력 칸에 ID를 입력할 때,
            if ($("#idSaveCheck").is(":checked")) { // ID 저장하기를 체크한 상태라면
                var userInputId = $("input[name='id']").val();
                setCookie("userInputId", userInputId, 7); // 7일동안 쿠키 보관
            }
        });
    });

    function setCookie(cookieName, value, exdays) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var cookieValue = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toGMTString());
        document.cookie = cookieName + "=" + cookieValue;
    }

    function deleteCookie(cookieName) {
        var expireDate = new Date();
        expireDate.setDate(expireDate.getDate() - 1);
        document.cookie = cookieName + "= " + "; expires=" + expireDate.toGMTString();
    }

    function getCookie(cookieName) {
        cookieName = cookieName + '=';
        var cookieData = document.cookie;
        var start = cookieData.indexOf(cookieName);
        var cookieValue = '';
        if (start != -1) {
            start += cookieName.length;
            var end = cookieData.indexOf(';', start);
            if (end == -1) end = cookieData.length;
            cookieValue = cookieData.substring(start, end);
        }
        return unescape(cookieValue);
    }
</script>