<!DOCTYPE HTML>
<!--
	Directive by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>(주)디파인</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="css/main.css" />
	<style>
		#project_desc {
			padding-left: 10px;
			padding-right: 10px;
		}
	</style>
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">
		<!-- <span class="logo icon fa-file-video-o"></span> -->
		<img src="img/logo.png" style="width:50px; height:auto;"></img>
		<h1>(주)디파인</h1>
		<p>더 스마트한 세상을 꿈꾸다</p>
	</div>

	<!-- Main -->
	<div id="main">

		<header class="major container medium">
			<h2>Our Service</h2>
			<p>현재 진행하고 있는 프로젝트</p>
		</header>

		<div class="box alt container">
			<section class="feature left">
				<a href="#" class="image icon fa-file-video-o">
					<img src="img/pic_cctv.jpg" style="max-width: 100%; height: auto;" alt="" />
				</a>
				<div class="content">
					<!--	<h3>지능형 CCTV</h3>-->
					<p style="font-size:25pt;letter-spacing:2px;"><b>지능형 CCTV</b></p>
					<p style="font-size:11.5pt;">CCTV를 통해 수집되는 객체(사람, 사물 등)의 딥러닝 분석을 통해 상황인지가 가능한 시스템으로 다양한 분야의 관제 시스템으로 활용이 가능함</p>
					<p style="font-size:11pt;">
						<span class="fa fa fa-car" id="project_desc"></span>주차관제
						<span class="fa fa fa-fire" id="project_desc"></span>화재감시
						<span class="fa fa fa-bar-chart" id="project_desc"></span>교통량 측정<br />
						<span class="fa fa fa-eye" id="project_desc"></span>유해조수 탐지
						<span class="fa fa fa-shower" id="project_desc"></span>수질오염 탐지
					</p>
				</div>
			</section>
			<section class="feature right">
				<a href="#" class="image icon fa-trash-o">
					<img src="img/pic_trash.jpg" style="max-width: 100%; height: auto;" alt="" />
				</a>
				<div class="content">
					<!--	<h3>생활폐기물 최적 수거 시스템</h3>-->
					<p style="font-size:25pt;letter-spacing:1.8px;"><b>생활폐기물 최적 수거 시스템</b></p>
					<p style="font-size:11.5pt;">수거거점<small>(클린하우스/재활용 수거함)</small>을 통해 수집되는 생활폐기물 배출 영상의 딥러닝 분석을 통하여 생활폐기물 별(종이류, 병, 캔, 종량제 등) 배출량을 계산하고 이를 기반으로 최적 수거 경로 제공이 가능함</p>
					<p style="font-size:11pt;">
						<span class="fa fa fa-trash" id="project_desc"></span>지자체 생활폐기물 / 음식물 쓰레기 수거 시스템
					</p>
				</div>
			</section>
			<section class="feature left">
				<a href="#" class="image icon fa-map-o">
					<img src="img/pic_farm.jpg" style="max-width: 100%; height: auto;" alt="" />
				</a>
				<div class="content">
					<!--<h3>유해조수 퇴치 시스템</h3>-->
					<p style="font-size:25pt;letter-spacing:2px;"><b>유해조수 퇴치 시스템</b></p>
					<p style="font-size:11.5pt;">실시간 유해조수(맷돼지, 고라니, 까치)의 탐지를 통해 유해 조수별 맞춤형 퇴치(빛, 소리, 기피제 등)가 가능한 시스템</p>
					<p style="font-size:11pt;">
						<span class="fa fa fa-bullhorn" id="project_desc"></span>농작물 보호 유해조수 퇴치 시스템<br />
						<span class="fa fa fa-fighter-jet" id="project_desc"></span>군사시설(탄약고, 공항 등) 유해조수 퇴치 시스템
					</p>
				</div>
			</section>
		</div>

		<footer class="major container medium">
			<h3>For more Information?</h3>
			<p style="font-size:11pt;">
				문의사항이 있으시거나 더 많은 정보가 필요하신가요?<br />
				이곳을 통해 연락주세요!
			</p>
			<ul class="actions special">
				<li><a href="#contact_mail" class="button">Contact our crew</a></li>
			</ul>
		</footer>

	</div>

	<!-- Footer -->
	<div id="footer">
		<div class="container medium">

			<header class="major last">
				<h2>Questions or comments?</h2>
			</header>

			<div class="row" style="margin-top:20px; margin-bottom:50px;">
				<div class="col-4">
					<i class="fa fa-4x fa-envelope-o"></i><br /><br />
					define@deep-find.com
				</div>
				<div class="col-4">
					<i class="fa fa-4x fa-map-marker"></i><br /><br />
					제주시 복지로3길 1-4<br /> 201호(도남동)
				</div>
				<div class="col-4">
					<i class="fa fa-4x fa-mobile-phone"></i><br /><br />
					064-742-1156
				</div>
			</div>

			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3327.4639323684496!2d126.52111261485948!3d33.48930488076277!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x350cfc9fe134b30b%3A0xae540ce69cba6538!2zKOyjvCnrlJTtjIzsnbg!5e0!3m2!1sko!2skr!4v1539082203150"
				width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>

			<form method="post" action="#" id="contact_mail">
				<div class="row">
					<div class="col-6 col-12-mobilep">
						<input type="text" name="name" placeholder="Name" />
					</div>
					<div class="col-6 col-12-mobilep">
						<input type="email" name="email" placeholder="Email" />
					</div>
					<div class="col-12">
						<textarea name="message" placeholder="Message" rows="6"></textarea>
					</div>
					<div class="col-12">
						<ul class="actions special">
							<li><input type="submit" value="Send Message" /></li>
						</ul>
					</div>
				</div>
			</form>

			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
			</ul>

			<ul class="copyright">
				<li>&copy; 2018 (주)디파인 All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>

		</div>
	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>

</body>

</html>
